@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    font-family: 'NanumSquare';
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

/* 초기화 */