.header_inner {
    width: 1200px;
    height: 95px;
    margin: 0 auto;
    background-color: aqua;
    position: relative;
}

.header_inner .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header_inner .logo img {
    width: auto;
    height: 30px;
}

.header_inner .gnb {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_inner .gnb li {
    margin: 0 24px;
}

.header_inner .gnb li:hover a {
    color: #f26d82;
}

.header_inner .util {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
}

.header_inner .util li {
    margin-left: 24px;
    transform: scale(0.8);
    opacity: 0.6;
    transition: all 0.6s;
}

.header_inner .util li:hover {
    transform: scale(1) rotate(360deg);
    opacity: 1;
}

#mainVisual {
    height: 475px;
}

#mainVisual div {
    height: 100%;
    background: url(../img/mainVisual.jpg) no-repeat center center;
    font-size: 0;
}

.gift {
    width: 1200px;
    margin: 95px auto;
}

.gift h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    font-family: 'Cafe24Dangdanghae';
}

.list {
    display: flex;
    justify-content: space-between;
}

.list li {
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.6s;
}

.list li:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.rev {
    width: 100%;
    height: 380px;
    background: url(../img/reservation.jpg) no-repeat center center / 100% auto;
    position: relative;
}

.rev div {
    width: 1200px;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 10px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.6s;
}

.rev:hover div {
    background-color: rgba(0, 0, 0, 0.6);
}

.rev div p {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: 'Cafe24Dangdanghae';
    letter-spacing: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.tour {
    width: 1200px;
    margin: 95px auto;
}

.tour h2 {
    margin-bottom: 50px;
    font-size: 36px;
    font-family: 'Cafe24Dangdanghae';
}

.tour ul {
    display: flex;
    justify-content: space-between;
}

.tour ul li {
    width: 275px;
}

.tour ul li .t_img {
    width: 100%;
    height: 275px;
    border-radius: 10px;
    overflow: hidden;
}

.tour ul li .t_img img {
    width: 100%;
    height: auto;
    transition: all 1s;
}

.tour ul li:hover .t_img img {
    transform: scale(1.1);
}