#header {
    width: 100%;
    height: 135px;
    margin: 0 auto;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.hd_top {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    height: 70px;
    display: flex;
    justify-content: center;

}
.hd_top .centerlogo img{
    padding-top: 15px;
}

.hd_bt{
    
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hd_menu{
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 100;
}

.hd_menu li{
    font-weight: 700;
    font-family: 'NEXON Lv2 Gothic';
    text-align: center;
    letter-spacing: 2px;
    line-height: 47px;
    margin-right: 38px;
}

.hd_menu li:last-child{
    margin-right: 0px;
}
/* header 끝 */

.container{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.mainVisual {
    margin-bottom: 15px;
    width: 1100px;
    height: 700px;
    background: url(../img/rx7.png) no-repeat center center / cover;
    position: relative;
    margin: 0 auto;
    /* z-index: -1; */

    margin-bottom: 15px;
}

.mainVisual .visualCont {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 1100px;
    height: auto;
    margin-top: 65px;

}

.mainVisual .visualCont h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: black;
    
}

.mainVisual .visualCont p {
    font-size: 20px;
    letter-spacing: -1px;
    color: palevioletred;
    margin-bottom: 35px;
    font-weight: 600;
}

.mainVisual .visualCont span{       
    margin: 0 auto;
    display: block;
    width: 173px;
    height: 47px;
    font-weight: 700;
    font-family: 'NEXON Lv2 Gothic';
    background-color: palevioletred;
    text-align: center;
    letter-spacing: 2px;
    line-height: 47px;
    color: #fff;
    
}

/* mainVisual 끝 */

.brandrank {
    padding-top: 25px;
    margin-bottom: 30px;
    width: 100%;
    
}

.feed-header-wrapper{
    border-top: 1px solid rgb(219, 219, 219);
    width: 1100px;
    display: block;
    margin: 0 auto;

}
.feed-header{
    display: flex;
    justify-content:space-around;
    margin-bottom: 30px;
    border-bottom : 1px solid rgb(219, 219, 219);    
    padding: 15px;
    color: black;
    font-weight: 800;
}

.feed-header .li{
    position:absolute;
    
}

.postboxwrapper{
    width: 1100px;
    display: flex;      
    margin: 0 auto;
    border-bottom :  1px solid rgb(219, 219, 219);
}

.postbox1{
    width: 360px;
    justify-content: space-around;
}


.postimg1 img{    
    width: 350px;
    height: 310px;
    
}

.postbox2{
    width: 360px;
    justify-content: space-around;
    margin-left: 24px;
}


.postimg2 img{
    
    width: 350px;
    height: 310px;
}

.postbox3{
    width: 360px;
    justify-content: space-around;
    margin-left: 24px;
}


.postimg3 img{
    width: 350px;
    height: 310px;
    border: 1px solid rgb(219, 219, 219);
}

.contentbox{
    margin-top: 10px;
    
}

.contentbox h2{
    font-size: 14px;
}

.contentbox .h2under1{
    font-size: 11px;
    margin-top: 5px;
}

.contentbox .h2under2{
    font-size: 10px;
    margin-top: 5px;
    padding-bottom: 15px;
}

.secondVisual{
    width: 1100px;
    height: 700px;
    margin: 0 auto;
}

.visualCont2{
    display: block;
    width: 1100px;
    height: 700px;
    background: url(../img/sl.png)no-repeat center center / cover;
    text-align: center;
    
}

.visualCont2 h1 {
    padding-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;
    color: black;
    
}

.visualCont2 p {
    font-size: 20px;
    letter-spacing: -1px;
    color: brown;
    margin-bottom: 55px;
    font-weight: 600;
}

.visualCont2 span{       
    margin: 0 auto;
    display: block;
    width: 173px;
    height: 47px;
    font-weight: 700;
    font-family: 'NEXON Lv2 Gothic';
    background-color: brown;
    text-align: center;
    letter-spacing: 2px;
    line-height: 47px;
    color: #fff;
    margin-bottom: 30px;
}

.visualCont2 .more{
    display: block;
    width: 1068px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    padding: 16px;
    line-height: 20px;
    color: black;
    border: 1px solid rgb(219, 219, 219);
    background-color: #fff;
    margin-top: 515px;
}

#footer{
    background-color: rgb(219, 219, 219);
    margin-top: 130px;
}

.flogo{
    margin-bottom: 15px;
}


.f_bottom {
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
}

.f_bottom p {
    color: #666;
    font-size: 12px;
    line-height: 2em;
    padding-bottom: 20px;
}
